@page
@model Sandbox.Pages.Movies.StreamingModel
@{
    ViewData["Title"] = "Streaming";
}

<h1>Streaming</h1>

<h2>Below this text should be the video</h2>

<video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="640" height="400" poster="poster.jpg" data-setup='{"techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS","silverlightSS", "html5"], "nativeControlsForTouch": false}'>
    <source src="https://leraningmedia.blob.core.windows.net/asset-25f3b85f-4f6a-466c-bc97-5fbfc2a54049/Escalate_1920x1080_AACAudio_4244.mp4?sv=2017-04-17&sr=c&si=c54406e7-36f3-439b-8a14-0c854f1168e3&sig=tk484LFMnfurqqEP62hAbfG%2B9vp37ZZTmluMzsHKTfE%3D&st=2019-10-19T22%3A54%3A09Z&se=2119-10-19T22%3A54%3A09Z" type="video/mp4" /> <!--application/vnd.ms-sstr+xml-->
    <p class="amp-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
    </p>
</video>

